<h2><%= @user.email %> Wikis || Role: <%= @user.role %></h2>

<% if current_user.admin? || current_user.id == @user.id %>
<div class="row">
  <h2>Private Wikis</h2>
  <div class="col-md-12">
    <%= render partial: 'wikis/wiki', collection: @private_wikis, as: :wiki %>
  </div>
</div>
<% end %>
<div class="row">
  <h2>Public Wikis</h2>
  <div class="col-md-12">
    <%= render partial: 'wikis/wiki', collection: @public_wikis, as: :wiki %>
  </div>
</div>
