<div class="container">
  <div class="row row-bottom-padded-lg" id="about-us">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">About Blocipedia</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h3>a sexy description will go here</h3>
        </div>
      </div>
    </div>
    <div class="col-md-8 to-animate">
      <img alt="some image when logged in (prob wiki index)" class="img-responsive img-rounded" src="">
    </div>
    <div class="col-md-4 to-animate">
      <h2>(Maybe talk about the process? Not really sure)</h2>
      <p>Not sure what to put here
      </p>
      <p>Not sure what to put here
      </p>
    </div>
  </div>

</div>
