<div class="container">
  <div class="row row-bottom-padded-lg" id="about-us">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">About Blocipedia</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h3>Ever wanted to make your own Wikis? Well you have come to the right place!</h3>
        </div>
      </div>
    </div>
    <div class="col-md-8 to-animate">
      <img alt="some image when logged in (prob wiki index)" class="img-responsive img-rounded" src="">
    </div>
    <div class="col-md-4 to-animate">
      <h2>Personal Wikis</h2>
      <p>You have the power to be in charge of creating your own wikis. Public or Private, the choice is yours. </p>
      <p>Add your friends to be able to help maintain and edit your wiki so it is kept up to date. </p>
    </div>
  </div>

</div>
