<div class="container">
  <div class="row row-bottom-padded-sm">
    <div class="col-md-12 section-heading text-center">
      <h2 class="to-animate">Features</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 to-animate">
          <h3>Some classy line will go here</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="box to-animate">
        <div class="icon colored-1">
          <span>
            <i class="fa fa-unlock"></i>
          </span>
        </div>
        <h3>Unlimited Public Wikis</h3>
        <p>You will never have to pay for your wikis to be public</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-4">
          <span>
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <h3>Private Wikis</h3>
        <p>With a small one time fee, be able to make unlimited private wikis</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box to-animate">
        <div class="icon colored-2">
          <span>
            <i class="fa fa-desktop"></i>
          </span>
        </div>
        <h3>Fully responsive</h3>
        <p>This site not only works on your desktop, but even your ipad and mobile!</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-5">
          <span>
            <i class="fa fa-github"></i>
          </span>
        </div>
        <h3>Open Source</h3>
        <p>Feel free to take and use this code how you want, hopefully it will be able to help you learn something</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box to-animate">
        <div class="icon colored-3">
          <span>
            <i class="fa fa-user"></i>
          </span>
        </div>
        <h3>Admin moderation</h3>
        <p>There are admins who will be able to help maintain and make sure all posts are appropriate</p>
      </div>
      <div class="box to-animate">
        <div class="icon colored-6">
          <span>
            <i class="fa fa-users"></i>
          </span>
        </div>
        <h3>Collaborations</h3>
        <p>Invite your friends to help maintain your wikis.</p>
      </div>
    </div>
  </div>
</div>
