<div class="owl-carousel owl-carousel-fullwidth">

  <div class="item" style="background: #89BDD3;">
    <div class="container" style="position: relative;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="fh5co-owl-text-wrap">
            <div class="fh5co-owl-text">
              <h1 class="fh5co-lead to-animate">Create a Free Account</h1>
              <h2 class="fh5co-sub-lead to-animate">Be able to create public wikis and invite collaborators to help maintain them</h2>
              <p class="to-animate-2">
                <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg' %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item" style="background: #9AD3DE;">
    <div class="container" style="position: relative;">
      <div class="row">
        <div class="col-md-7 col-sm-7">
          <div class="fh5co-owl-text-wrap">
            <div class="fh5co-owl-text">
              <h1 class="fh5co-lead to-animate">Private Wikis?</h1>
              <h2 class="fh5co-sub-lead to-animate">We got you covered! Upgrade your existing account to a premium member to have unlimited private wikis</h2>
              <p class="to-animate-2">
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 iphone-image">
          <div class="iphone to-animate-2"><img alt="Free HTML5 Template by FREEHTML5.co" src=""></div>
        </div>

      </div>
    </div>
  </div>

  <div class="item" style="background: #A39ED3;">
    <div class="container" style="position: relative;">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="fh5co-owl-text-wrap">
            <div class="fh5co-owl-text">
              <h1 class="fh5co-lead to-animate">Interested how this was developed?</h1>
              <h2 class="fh5co-sub-lead to-animate">Feel free to check this project out on
                <%= link_to "Github", 'https://github.com/toyhammered/blocipedia', target: '_blank' %>
              </h2>
              <p class="to-animate-2">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
