<div class="container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="single-animate animate-pricing-1">Pricing</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 subtext single-animate animate-pricing-2">
          <h3>Not everything in life can be free, but I have to admit, free is always good.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-3 col-sm-6">
      <div class="price-box to-animate popular">
        <div class="popular-text">Best value</div>
        <h2 class="pricing-plan">Free</h2>
        <div class="price">
          <sup class="currency">$</sup>0
          <small></small>
        </div>
        <p>The essentials of what you need to get started!</p>
        <hr>
        <ul class="pricing-info">
          <li>Unlimited public Wikis</li>
          <li>Invite Collaborators</li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="price-box to-animate">
        <h2 class="pricing-plan">Premium</h2>
        <div class="price">
          <sup class="currency">$</sup>15
          <small>/once</small>
        </div>
        <p>Love what you see but want more?</p>
        <hr>
        <ul class="pricing-info">
          <li>Unlimited Public Wikis</li>
          <li>Unlimited Private Wikis</li>
          <li>Invite Collaborators</li>
        </ul>
      </div>
    </div>

  </div>
</div>
