<div class="container">
  <div class="row">
    <div class="col-md-12 section-heading text-center">
      <h2 class="single-animate animate-press-1">Sign Up Now</h2>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 subtext single-animate animate-press-2">
          <h3>If you have already read everything above you might as well sign up and give it a shot!</h3>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= render partial: 'devise/registrations/signup' %>
      <%= render partial: 'devise/sessions/signin' %>
    </div>

  </div>

</div>
